@charset"utf-8";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
img {
    max-width: 70%;
    height: auto;
}

section {
    background-color: #ffffff;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 9px;
    font-family: 'Playfair Display', serif;
}